{port_sources,["c_src/*.cc"]}.
{port_envs,
 [{"DRV_LDFLAGS","c_src/v8/out/native/libv8_base.a c_src/v8/out/native/libv8_snapshot.a -shared $ERL_LDFLAGS -lstdc++ -luuid"},
  {"darwin", "DRV_LDFLAGS", "c_src/v8/out/native/libv8_base.a c_src/v8/out/native/libv8_snapshot.a -bundle -flat_namespace -undefined suppress $ERL_LDFLAGS"},
  {"DRV_CFLAGS","-Ic_src -Ic_src/v8/include -g -Wall -fPIC $ERL_CFLAGS $EXTRA_CFLAGS"}]}.
